<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.3.8000.0">
	<images>
		<thumbnails>
			<thumbnails>
				<add title="xs" MaxWidth="576" MaxHeight="" ScaleUp="False" Quality="High" method="ResizeFitToAreaArguments" default="True" name="xs" />
				<add title="sm" MaxWidth="768" MaxHeight="" ScaleUp="False" Quality="High" method="ResizeFitToAreaArguments" default="True" name="sm" />
				<add title="md" MaxWidth="992" MaxHeight="" ScaleUp="False" Quality="High" method="ResizeFitToAreaArguments" default="True" name="md" />
				<add title="lg" MaxWidth="1200" MaxHeight="" ScaleUp="False" Quality="High" method="ResizeFitToAreaArguments" default="True" name="lg" />
				<add title="xl" MaxWidth="1400" MaxHeight="" ScaleUp="False" Quality="High" method="ResizeFitToAreaArguments" default="True" name="xl" />
				<add title="xxl" MaxWidth="2560" MaxHeight="" ScaleUp="False" Quality="High" method="ResizeFitToAreaArguments" default="True" name="xxl" />
			</thumbnails>
		</thumbnails>
	</images>
</librariesConfig>